In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import joblib
from datetime import datetime

In [36]:
df = pd.read_csv("/Users/deepika/Documents/PROJECTS/AI-Safety-System-for-Women-Students/ml_engine/training/data/crime_dataset.csv")

In [37]:
df.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"

In [38]:
df.shape

(1456714, 23)

In [39]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1456714 entries, 0 to 1456713
Data columns (total 23 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1456714 non-null  int64
 1   ID                    1456714 non-null  int64
 2   Case Number           1456713 non-null  str
 3   Date                  1456714 non-null  str
 4   Block                 1456714 non-null  str
 5   IUCR                  1456714 non-null  str
 6   Primary Type          1456714 non-null  str
 7   Description           1456714 non-null  str
 8   Location Description  1455056 non-null  str
 9   Arrest                1456714 non-null  bool
 10  Domestic              1456714 non-null  bool
 11  Beat                  1456714 non-null  int64
 12  District              1456713 non-null  float64
 13  Ward                  1456700 non-null  float64
 14  Community Area        1456674 non-null  float64
 15  FBI Code              1456714 non-null  str
 16  X Coordinate          1419631 non-null  float64
 17  Y Coordinate          1419631 non-null  float64
 18  Year                  1456714 non-null  int64
 19  Updated On            1456714 non-null  str
 20  Latitude              1419631 non-null  float64
 21  Longitude             1419631 non-null  float64
 22  Location              1419631 non-null  str
dtypes: bool(2), float64(7), int64(4), str(10)
memory usage: 236.2 MB

In [40]:
df.describe()

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,1.456714e+06,1.456714e+06,1.456714e+06,1.456713e+06,1.456700e+06,1.456674e+06,1.419631e+06,1.419631e+06,1.456714e+06,1.419631e+06,1.419631e+06
mean,3.308606e+06,9.597550e+06,1.150644e+03,1.125920e+01,2.287027e+01,3.745632e+01,1.164398e+06,1.885523e+06,2.013897e+03,4.184147e+01,-8.767224e+01
std,1.235350e+06,8.083505e+05,6.916466e+02,6.904691e+00,1.380589e+01,2.144029e+01,1.850835e+04,3.424775e+04,1.449584e+00,9.430126e-02,6.661726e-02
min,3.000000e+00,2.022400e+04,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.012000e+03,3.661945e+01,-9.168657e+01
25%,2.698636e+06,9.002709e+06,6.130000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152544e+06,1.858762e+06,2.013000e+03,4.176787e+01,-8.771528e+01
50%,3.063654e+06,9.605776e+06,1.024000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166021e+06,1.891502e+06,2.014000e+03,4.185797e+01,-8.766613e+01
75%,3.428849e+06,1.022577e+07,1.711000e+03,1.700000e+01,3.400000e+01,5.600000e+01,1.176363e+06,1.908713e+06,2.015000e+03,4.190529e+01,-8.762813e+01
max,6.253474e+06,1.082788e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951573e+06,2.017000e+03,4.202271e+01,-8.752453e+01

In [41]:
df.isnull().sum()

Unnamed: 0                  0
ID                          0
Case Number                 1
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description     1658
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                       14
Community Area             40
FBI Code                    0
X Coordinate            37083
Y Coordinate            37083
Year                        0
Updated On                  0
Latitude                37083
Longitude               37083
Location                37083
dtype: int64

In [42]:
df = df[['Date', 'Primary Type', 'Description', 'Location Description', 'Latitude', 'Longitude']]

In [43]:
df = df.dropna(subset=['Latitude', 'Longitude'])

In [44]:
df['Location Description'] = df['Location Description'].fillna('OTHER')

In [45]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df = df.dropna(subset=['Date'])

/var/folders/9f/qjdzglkx7gj3cg8lrg5c4vk80000gn/T/ipykernel_27968/479335160.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [46]:
def get_time_of_day(hour):
    if 6 <= hour < 12:
        return 0  # Morning
    elif 12 <= hour < 18:
        return 1  # Afternoon
    elif 18 <= hour < 24:
        return 2  # Evening
    else:
        return 3  # Night

df['Hour'] = df['Date'].dt.hour
df['TimeOfDay'] = df['Hour'].apply(get_time_of_day)

In [47]:
df['Lat_grid'] = df['Latitude'].round(3)
df['Lon_grid'] = df['Longitude'].round(3)

In [48]:
crime_density = df.groupby(['Lat_grid', 'Lon_grid']).size().reset_index(name='CrimeDensity')
df = df.merge(crime_density, on=['Lat_grid', 'Lon_grid'], how='left')

In [49]:
df['PastMonthCrimes'] = 0

In [50]:
df = df.sort_values('Date').reset_index(drop=True)

for idx, row in df.iterrows():
    start_date = row['Date'] - pd.Timedelta(days=30)
    mask = (
        (df['Lat_grid'] == row['Lat_grid']) &
        (df['Lon_grid'] == row['Lon_grid']) &
        (df['Date'] < row['Date']) &
        (df['Date'] >= start_date)
    )
    df.at[idx, 'PastMonthCrimes'] = df[mask].shape[0]

In [51]:
area_mapping = {
    'RESIDENCE': 0,
    'STREET': 1,
    'SIDEWALK': 2,
    'APARTMENT': 3,
    'PARKING LOT/GARAGE(NON.RESID.)': 4,
    'GAS STATION': 5,
    'OTHER': 6
}

df['AreaType'] = df['Location Description'].map(lambda x: area_mapping.get(x.upper(), 6))

In [52]:
df['RiskScore'] = df['CrimeDensity'] / df['CrimeDensity'].max()

In [53]:
features = ['Latitude', 'Longitude', 'TimeOfDay', 'CrimeDensity', 'PastMonthCrimes', 'AreaType']
X = df[features]
y = df['RiskScore']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Step 7: Train Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

In [ ]:
score = rf.score(X_test, y_test)
print(f"Model R^2 score: {score:.3f}")

# Step 9: Save model
joblib.dump(rf, "risk_model.pkl")
print("Model saved as risk_model.pkl")